@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
.container-fluid {
    height: 100vh;
    width: 100%;
    background: url(../img/pexels-jae-park-3770875.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.formulario {
    background: rgba(255, 255, 255, 0.644);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
}

h2 {
    font-size: 1rem;
    text-align: center;
}